<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/headerinc :: head" />

<body>

	<!-- Navigation -->
	<header th:replace="fragments/header :: header"></header>

	<!-- Page Header -->
	<header class="masthead"
		style="background-image: url('img/about-bg.jpg')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="page-heading">
						<h1>Error</h1>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
				<p th:utext="${errorMessage}">Error
					java.lang.NullPointerException</p>
				<a th:href="@{/}">Back to Home Page</a>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>

</body>

</html>
