<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/headerinc :: head">
</head>

<body>

	<header th:replace="fragments/header :: header"></header>

	<!-- Page Header -->
	<header class="masthead"
		style="background-image: url('img/home-bg.jpg')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>Registration</h1>
					</div>
				</div>
			</div>
		</div>
	</header>


	<div class="container">
		<div class="row">

			<div class="col-lg-8 col-md-10 mx-auto">

				<span th:text="${success}"></span>

				<form th:action="@{/registration}" method="post" th:object="${user}">

					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label>Name</label>
							<input type="text" th:field="*{name}" class="form-control" placeholder="Name" id="name"/>
							<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help-block text-danger"></p>
						</div>
					</div>

					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label>Last name</label>
							<input type="text" th:field="*{lastName}" class="form-control" placeholder="Last name" id="lastName"/>
							<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="help-block text-danger"></p>
						</div>
					</div>

					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label>Email Address</label>
							<input type="email" th:field="*{email}"class="form-control" placeholder="Email Address" id="email" />
							<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-block text-danger"></p>
						</div>
					</div>

					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label>Password</label>
							<input type="password" th:field="*{password}" class="form-control" placeholder="Password" id="password"/>
							<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="help-block text-danger"></p>
						</div>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary" id="regButton">Registration</button>
					</div>

				</form>
			
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>


</body>
</html>